//使用*.module.css / *.module.less / *.module.scss 这样的命名方式可以避免样式混乱
.header{
  height: 4rem;
  line-height: 4rem;
  width:100vw;
  background: #8c97a7;
  overflow: hidden;
  padding: 1vw 0vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoText{
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f8f8f8;
    font-size: 1.5rem;
  }

  .endBox{
    flex: 10;
    right: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    padding: 1vw 0vw 1vw 0vw;
    overflow: hidden;
    .searchBox{
      height: 2rem;
      background: #2c3e50;
      padding: 10px;
      border-radius: 2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .searchInput{
        background: none;
        border: none;
        outline: none;
        color:white;
        font-size: 1rem;
        width: 0rem;
        transition: 0.5s;
      }
      .searchBtn{
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e67e22;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 50%;
        .icon_search{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .searchBox:hover .searchInput{
      width: 7rem;
    }
    .searchBox:hover{
      margin: 0rem 1rem;
    }


    .icon {
      height: auto;
      width: 3rem;
    }
    .icon:hover {
      transform: scale(1.3);
    }
  }
  .user{

  }
}

.viteReact{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  .vite{
    height: 40px;
    width:40px;
    animation-name: vite-spin;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  .react{
    height: 40px;
    width:40px;
    animation-name: react-spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  .react:hover{
    animation-play-state: paused;
  }
}

@keyframes react-spin{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(180deg);
  }
}

@keyframes vite-spin{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}
